html {
	scroll-behavior: smooth;
}

section{
	scroll-margin-top: 3.125vw;
}

.section1 {
	background: #e27d60;
}

.section2 {
	background: rgb(196, 71, 71);
}

.special {
	scroll-margin-top: 60px;
}

/* Splash Screen */
.screen {
	position: fixed;
	z-index: 9999;
	left: 0;
	top: 0;
	width: 100%;
	height: 100vh;
	background-color: #161616;
	transition: 1s;
}

.screenheader {
	position: absolute;
	top: 40%;
	left: 50%;
	transform: translate(-50%, -50%);
	color: #ffffff;
}

.welcome {
	position: relative;
	display: inline-block;
	bottom: -20px;
	opacity: 0;
	font-family: 'League Spartan';
	font-size: 80px;
}

.welcome.active {
	bottom: 0;
	opacity: 1;
	transition: ease-in-out 0.5s;
}

.welcome.fade {
	bottom: 150px;
	opacity: 0;
	transition: ease-in-out 0.5s;
}

body 
	{
	margin: 0;
	font-family: Sans-Serif;
	font-weight: 700;
	font-size: 20px;
	z-index: 2;
	background: rgb(0, 0, 0);
	padding-top: 90px;
	}

/* Hide scrollbar for Chrome, Safari and Opera */
body::-webkit-scrollbar {
	display: none;
  }
  
  /* Hide scrollbar for IE, Edge and Firefox */
body {
	-ms-overflow-style: none;  /* IE and Edge */
	scrollbar-width: none;  /* Firefox */
}
	

a
	{
	text-decoration: none;
	color: white;
	}

p
	{
	font-weight:100;
	font-size:1.563vw;
	margin-left:20%;
	margin-right:20%;
	text-decoration: none;
	}

.intro p
	{
	font-weight:500;
	font-size:3.125vw;
	margin-left:20px;
	margin-right:20px;
	text-decoration: none;
	color:white;
	}

.title
	{
	position: relative;
	margin-top: 20%;
	font-size: 3.906vw;
	font-family: 'League Spartan';
	margin-left: 11%;
	opacity: 0;
  	transition: opacity 1.5s ease-in-out;
	color: white;
	scroll-margin-top: 86px;
	}

.title.active {
	opacity: 1;
}

.title2 {
	font-family: 'League Spartan';
	font-size: 3.906vw;
	margin-left: 9.8%;
	opacity: 0;
  	transition: opacity 1.5s ease-in-out;
	color: white;
}

.title2.active {
	opacity: 1;
}

.title3 {
	font-family: 'League Spartan';
	position: relative;
	font-size: 2.604vw;
	margin: 0;
	padding: 20px 0px 20px 0px;
	opacity: 0;
  	transition: opacity 1.5s ease-in-out;
	color: white;
}

.title3.active {
	opacity: 1;
}

.block
	{
	position: relative;
	top:-60px;
	}
	
.container 
	{
	background: gray;
	font-family: 'League Spartan';
	position: fixed;
	width: 100%;
	z-index: 100;
	top: 0;
	direction: rtl;
	display: table;
	table-layout: fixed;
	margin: 5;
	height:60px;
	}

section
	{
	top:90px;
	}

.intro {
	position:relative;
	margin-left: auto;
	margin-right: auto;
	border-spacing:50px;
	margin-top: 3%;
}
	
.intro td{
	position:relative;
	border-spacing:50px;
	font-family: 'League Spartan';
	box-sizing: border-box;
	margin-left: 0;
	margin-right: 0;
	width: 26.042vw;
	height: 26.042vw;
	text-align: center;
	border-radius: 125px;
	background-color: #836767;
	transition: ease-out 0.3s;
	border-style: solid;
	border-color:rgb(255, 255, 255);
	top: 0;
  }
  
.intro td:hover{
	background-color: #ffffff;
	border-color:gray;
	cursor: pointer;
	top: -15px;
  }

.intro td:hover p {
	transition: ease-out 0.7s;
	color: black;
}

.bcontainer {
	display: flex;
	justify-content: center;
	scroll-padding-top: 2000px;
  }


.blog {
	scroll-behavior: smooth;
	max-width: 78.125vw;
	height: 400px;
	overflow-y: scroll;
	overflow-x: hidden;
	-webkit-mask-image: linear-gradient(to bottom, transparent 0, black var(--top-mask-size, 0), black calc(100% - var(--bottom-mask-size, 0)), transparent 100%);
	mask-image: linear-gradient(to bottom, transparent 0, black var(--top-mask-size, 0), black calc(100% - var(--bottom-mask-size, 0)), transparent 100%);
	--top-mask-size: 0px;
	--bottom-mask-size: 0px;
	display: block;
  }

.blog p {
	position:relative;
	font-size: 1.042vw;
	padding: 20px 0;
	text-align:left;
	margin-left:30px;
	width: 41.667vw;
	white-space: nowrap;
	overflow: clip;
	text-overflow: ellipsis;
	margin-top: -20px;
	font-family: 'League Spartan';
	font-weight: 400;
	color: white;
	scroll-padding-top: 2000px;
}

.blog h1{
	margin-left: 50px;
	font-family: 'League Spartan';
	font-size: 2.083vw;
	display: block;
	position: relative;
	color: white;
}
  
.blog.is-top-overflowing {
	scroll-padding-top: 2000px;
	--top-mask-size: 48px !important;
  }
  
.blog.is-bottom-overflowing {
	--bottom-mask-size: 48px !important;
  }

.chap1 {
	margin-left: 50px;
	font-family: 'League Spartan';
	font-size: 2.083vw;
	display: block;
	position: relative;
	scroll-margin-top: 320px;
	color: white;
}

.chap2 {
	margin-left: 50px;
	font-family: 'League Spartan';
	font-size: 2.083vw;
	display: block;
	position: relative;
	scroll-margin-top: 100px;
	color: white;
}

.bentry h1 {
	font-family: 'League Spartan';
	margin-left: 50px;
	font-size: 1.563vw;
	color: white;
}

.bentry h2 {
	font-family: 'League Spartan';
	margin-left: 50px;
	font-size: 1.302vw;
	margin-top: -1.402vw;
	color: white;
}

.bentry a {
	font-family: 'League Spartan';
	margin-left: 50px;
	color:rgb(255, 255, 255);
	font-size: 1.042vw;
}

.blog img {
	max-width: 26.042vw;
	max-height: 10.417vw;
	margin-left: 25px;
	padding: 20px;
}

.bentry {
	border: 5px solid;
	border-radius: 50px;
	border-color: white;
}

.chapter {
	margin-left: 0.521vw;
	position:relative;
	border: 5px solid;
	border-radius: 25px;
	border-color: white;
}

.chapter h1 {
	font-family: 'League Spartan';
	margin-left: 20px;
	text-align: left;
	font-size: 1.563vw;
	color: white;
}

.chapter a {
	font-family: 'League Spartan';
	color: rgb(255, 255, 255);
	padding-left: 1.042vw;
	padding-right: 1.042vw;
	text-align: center;
	font-size: 1.042vw;
	display: block;
}


.education h1 {
	text-align: center;
	vertical-align: middle;
	padding: 5.208vw;
	position: absolute;
	color: rgb(255, 255, 255);
	z-index: 1;
	font-family: 'League Spartan';
	font-size: 2.083vw;
}

.queens
	{
	background: gray;
	display: block;
	height: 15.625vw;
	position: relative;
	max-width: 100%;
	}

.overlayop {
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	background-image: url("images/queens.jpg");
	background-size: cover;
	background-position-y: center;
	width: 100%;
	height: 0;
	transition: 0.5s ease;
}

.queens:hover .overlayop{
	height: 100%;
}

.bethune
	{
	background-image: url("images/bethune.jpg");
	display: block;
	height: 15.625vw;
	position: relative;
	max-width: 100%;
	background-size: cover;
	background-position-y: center;
	}

.bethune:hover .overlay{
	width: 0%;
}

.vic
	{
	background-image: url("images/vic2.png");
	display: block;
	height: 15.625vw;
	position: relative;
	max-width: 100%;
	background-size: cover;
	background-position-y: center;
	}

.vic:hover .overlay{
	height: 0%;
}

.overlay {
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	background: gray;
	overflow: hidden;
	width: 100%;
	height: 100%;
	transition: 0.5s ease;
}

.projects table {
	width: 80%;
	border-collapse: collapse;
	margin-left: auto;
	margin-right: auto;
}

.space {
	font-family: 'League Spartan';
	background: rgb(0, 0, 0);
	transition: all 0.7s ease;
	padding-bottom: 20px;
	font-size: 1.042vw;
	color: white;
}

.space:hover {
	background: gray;
}

.projects h3 {
	font-family: 'League Spartan';
	position: relative;
	font-size: 1.563vw;
	padding: 15px 0px 15px 0px;
	margin: 0;
	color: white;
}

.line {
	border-top: 5px solid;
	border-bottom: 3px solid;
	border-color: white;
}

.line2 {
	border-bottom: 3px solid;
	padding-bottom: 20px;
	border-color: white;
}
	  
@keyframes slideLeft {
	0% {
	  opacity: 0;
	  transform: translateX(-100%);
	}
	100% {
	  opacity: 1;
	  transform: translateX(0);
	}
  }
  
@keyframes slideRight {
	0% {
	  opacity: 0;
	  transform: translateX(100%);
	}
	100% {
	  opacity: 1;
	  transform: translateX(0);
	}
  }

nav
	{
	top: 0;
	width: 100%
	}

nav a
	{
	color: #444;
	text-decoration: none;
	font-size: 20px;
	font-weight: 100;
	}

@media(max-width: 585px){
	nav a{
		color: #444;
		text-decoration: none;
		font-size: 15px;
		font-weight: 100;
	}
}

.tags::before
	{
	content: '';
	display: block;
	height: 5px;
	background-color: rgb(255, 255, 255);
	  
	position: absolute;
	top: 30px;
	width: 0%;
	  
	transition: all ease-in-out 250ms;
	}


.tags:hover::before
	{
	width: 100%;
	}


nav ul 
	{
	position: relative;
	width: 100%;
	height: 10px;
	margin: 0px auto;
	}

nav li
	{
	position: relative;
	bottom: -25px;
	display: inline-block;
	margin-left: 20px;
	}	

.logo
	{
	color: rgb(255, 255, 255);
	float:left;
	font-size: 20px;
	font-weight: 1000;
	position: relative;
	bottom: -25px;
	margin-left: 80px;
	}

@media(max-width: 585px){
	.logo{
		color: rgb(255, 255, 255);
		float:left;
		font-size: 15px;
		font-weight: 1000;
		position: relative;
		bottom: -25px;
		margin-left: 80px;
	}
}

li a 
	{
	display: block;
	color: rgb(255, 255, 255);
	font-weight: 300;
	text-align: center;
	padding: 0px;
	text-decoration: none;
	scroll-behavior: smooth;
	}


.footer{
	font-family:'League Spartan';
	background-color: #24262b;
	padding: 20px 0px;
	margin-top: 20px;
}

.fcontainer{
	max-width: 1170px;
	margin:auto;
}
.row{
	display: flex;
}

ul{
	list-style: none;
}

.footer-col{
   width: 25%;
   padding: 0 15px;
}

.footer-col h4{
	font-size: 18px;
	color: #ffffff;
	margin-bottom: 35px;
	font-weight: 500;
	position: relative;
}
.footer-col h4::before{
	content: '';
	position: absolute;
	left:0;
	bottom: -10px;
	background-color: #3d1ee9;
	height: 2px;
	box-sizing: border-box;
	width: 50px;
}
.footer-col ul li:not(:last-child){
	margin-bottom: 10px;
}
.footer-col ul li a{
	font-size: 18px;
	text-transform: capitalize;
	color: #ffffff;
	text-decoration: none;
	font-weight: 300;
	color: #bbbbbb;
	display: block;
	transition: all 0.3s ease;
	text-align:left;
	margin-left:-40px;
}
.footer-col ul li a:hover{
	color: #ffffff;
	padding-left: 8px;
}
.footer-col .social-links a{
	display: inline-block;
	height: 40px;
	width: 40px;
	background-color: rgba(255,255,255,0.2);
	margin:0 10px 10px 0;
	text-align: center;
	line-height: 45px;
	border-radius: 50%;
	color: #ffffff;
	transition: all 0.5s ease;
}
.footer-col .social-links a:hover{
	color: #24262b;
	background-color: #ffffff;
}

/*responsive*/
@media(max-width: 767px){
  .footer-col{
	width: 50%;
	margin-bottom: 30px;
}
}
@media(max-width: 574px){
  .footer-col{
	width: 100%;
}
}